<div class="plain-color-list">
    <div class="close-panel">
        <a>
            <img class="icon-close" src="https://www.reformclothing.com/static/icons/cross.svg">
        </a>
    </div>
    <div class="panel-content">
        <div class="title hidden-tablet">COLORS</div>
        <div id="scrollbar-1727437113517" class="scrollbar-container spec panel-scroll-container">
            <div class="scrollable-content for-mac show-scrollbar" style="padding-right: 0px; padding-bottom: 0px;">
                <div class="expend-colours">
                    <button class="button btn-colour-assistant hidden-tablet"> COLOR assistant </button>
                    <div class="item flex-space-between mgb16 hidden-tablet">
                        <div class="flex-space-between">
                            <label class="item-title">Selected: </label>
                            <div class="colour-selected" style="background: rgb(255, 255, 255); border: 1px solid rgb(220, 221, 222);"></div>
                            <label class="font bold colour-selected-label">White</label>
                        </div>
                        <a class="fav-colour"></a>
                    </div>
                    <div class="item mgb7 mobile-fav">
                        <p class="font bold item-title mgb7 hidden-tablet">On Garment</p>
                        <div class="fav-colours-list my-colors-list"><img src="/static/icons/colours/garment.svg" width="16" class="hidden-pc icon mgr16" alt="">
                            <div class="color-wrapper flex-start">
                                <a title="White" class="icon-color-wrapper selected">
                                    <div class="back" style="background: rgb(255, 255, 255);"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="colours-bottom-line">
                <div class="color-list">
                    <a title="White" class="icon-color-wrapper selected">
                        <div class="back" style="background: rgb(255, 255, 255);"></div>
                    </a>
                    <a title="Black" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(23, 23, 23);"></div>
                    </a>
                    <a title="Dark Grey" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(83, 87, 90);"></div>
                    </a>
                    <a title="Charcoal Marle" class="icon-color-wrapper ">
                        <div class="back" style="background: url(&quot;https://media.reformclothing.com/media/marle-dark.jpg&quot;) center center / 40px no-repeat rgb(255, 255, 255);"></div>
                    </a>
                    <a title="Grey Marle" class="icon-color-wrapper ">
                        <div class="back" style="background: url(&quot;https://media.reformclothing.com/media/marle-light.jpg&quot;) center center / 40px no-repeat rgb(255, 255, 255);"></div>
                    </a>
                    <a title="Light Grey" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(152, 152, 154);"></div>
                    </a>
                    <a title="Brown" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(80, 54, 41);"></div>
                    </a>
                    <a title="Dark Green" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(18, 71, 52);"></div>
                    </a>
                    <a title="Green" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(0, 117, 74);"></div>
                    </a>
                    <a title="Lime Green" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(118, 188, 33);"></div>
                    </a>
                    <a title="Midnight Teal" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(0, 89, 88);"></div>
                    </a>
                    <a title="Teal" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(0, 137, 150);"></div>
                    </a>
                    <a title="Navy" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(32, 41, 69);"></div>
                    </a>
                    <a title="Royal Blue" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(0, 87, 163);"></div>
                    </a>
                    <a title="Sky Blue" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(0, 154, 222);"></div>
                    </a>
                    <a title="Light Blue" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(146, 192, 233);"></div>
                    </a>
                    <a title="Dark Purple" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(81, 12, 118);"></div>
                    </a>
                    <a title="Maroon" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(114, 37, 61);"></div>
                    </a>
                    <a title="Dark Red" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(171, 0, 51);"></div>
                    </a>
                    <a title="Red" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(234, 0, 41);"></div>
                    </a>
                    <a title="Orange" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(244, 137, 52);"></div>
                    </a>
                    <a title="Gold Yellow" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(255, 183, 27);"></div>
                    </a>
                    <a title="Light Yellow" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(252, 220, 62);"></div>
                    </a>
                    <a title="Vegas Gold" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(201, 181, 119);"></div>
                    </a>
                    <a title="Off White" class="icon-color-wrapper ">
                        <div class="back" style="background: rgb(241, 225, 207);"></div>
                    </a>
                    <a title="more" class="icon-color-wrapper hidden-pc">
                        <div class="back" style="background: url(&quot;/static/icons/colours/more.svg&quot;) no-repeat;"></div>
                    </a>
                </div>
            </div>
            <div class="scrollbar-track vertical ">
                <div class="scrollbar-thumb" style="height: 283.437px; transform: translateY(0px);"></div>
            </div>
        </div>
    </div>
</div>

<style>
    .plain-color-list {
        width: 228px;
    }
    .close-panel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 10px;
        border-bottom: 1px solid #f1f1f2;
    }
    .close-panel a {
        width: 40px;
        height: 40px;
        line-height: 1;
    }
    .close-panel .icon-close {
        width: 20px;
        height: 20px;
        margin: 10px;
        display: block;
    }
    .panel-content, .plain-color-list .panel-content, .panel-content, .panel-content {
        height: calc(100% - 44px);
        padding: 5px 15px 0;
    }
    .plain-color-list .title {
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        background-color: #f2f2f2;
        line-height: 1.6;
        color: #000;
    }
    .scrollbar-container {
        height: calc(100% - 50px);
        position: relative;
    }
    .scrollbar-container .scrollable-content.for-mac {
        padding-right: 15px;
        padding-bottom: 15px!important;
        right: -15px;
        bottom: -10px;
    }
    .scrollbar-container .scrollable-content {
        overflow: scroll;
        overflow-x: hidden;
        position: absolute;
        padding-right: 4px;
        padding-bottom: 15px;
        top: 0;
        right: -5px;
        bottom: -5px;
        left: 0;
    }
    .expend-colours {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn-colour-assistant {
        width: 100%;
        height: 31px;
        background: #000;
        border-radius: 4px;
        color: #fff;
        padding: 0;
        margin-bottom: 17px;
        line-height: 29px;
        font-size: 9px;
        font-family: LabGrotesque-Bold;
    }
    .expend-colours .mgb16
    {
        margin-bottom: 16px;
    }
    .plain-color-list .color-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 14px;
    }
    .plain-color-list .icon-color-wrapper.selected {
        padding: 2px;
        border: 2px solid #000;
    }
    .plain-color-list .icon-color-wrapper {
    width: 30px;
    height: 30px;
    margin: 3px;
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}
    div:empty {
        display: block !important;
    }
    .plain-color-list .icon-color-wrapper .back {
        -webkit-box-shadow: inset 0 0 1px #000!important;
        box-shadow: inset 0 0 1px #000!important;
    }
    .icon-color-wrapper .back {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .scrollbar-container.spec .scrollbar-track.vertical {
        display: none;
    }
    .scrollbar-container .scrollbar-track.vertical {
        width: 4px;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #f1f1f2;
    }
    .scrollbar-container .scrollbar-track {
        position: absolute;
        z-index: 130;
    }
    .scrollbar-container .scrollbar-track .scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    border-radius: 4px;
    cursor: pointer;
}
</style>